.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 20px auto;
}

.slide {
    display: block;
    background-repeat: no-repeat;
    background-position: contain;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.txt {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.154px;
    margin-top: 5px;
}

.mr25 {
    margin-right: 25px;
}
