.container {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 25px;
}

.contentWrapper {
    margin: 20px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #fff;
}

.txt {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #ffffff;
}

.btn {
    padding: 7px 16px;
    background: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #2c2d2e;
    cursor: pointer;
}

.btn:hover {
    background: rgb(223, 223, 223);
}

.btn:active {
    background: #fff;
}
